@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    text-decoration: none;
  
}

.content, .sociais,.container-projetos, .cards-projetos, .container-text, .container-image, .skills-icons{
    visibility: hidden;
}

body{
    background-color: #1C1C1C;
}

header{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 99;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    background-color: black;
    border-bottom: 1px solid #15dacc;
}

.title{
    color: #18F9EB;
    text-shadow: 0px 0px 7px #18F9EB;
}

nav {
    display: flex;
    gap: 50px;
}

nav a{
    position: relative;
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding: 5px 0;
    transition: color 0.3s ease;

}

nav a:hover{
    color: #18F9EB;
}

nav a::after{
    content: "";
    position: absolute;
    width: 0;
    height: 3px; 
    background-color: #18F9EB;
    left: 0;
    bottom: -5px;
    transition: width 0.3s ease;
}

nav a:hover::after {
    width: 100%; 
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; 
}

.home-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    background-image: url("/images/background.jpg");
    background-size: cover;
    background-position: center;  
    background-repeat: no-repeat; 
    background-attachment: scroll;
    position: relative;
}

.overlay {
    position: absolute; /* Torna a posição do overlay absoluta */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.601);
    z-index: 1; /* Garante que o overlay fique acima da imagem de fundo */
}

.content {
    position: relative; 
    z-index: 2; /* Garante que o texto fique acima do overlay */
    text-align: center; 
    color: white;
}

.content p {
    font-size: 20px;
}

.content h3{
    font-size: 50px;
    font-weight: 500;
}

span{
    color: #18F9EB;
}

.sociais{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.bxl-linkedin, .bxl-github, .bxl-whatsapp{
    position: relative;
    z-index: 2;
    padding: 20px 0px;
    font-size: 30px;
    color: rgb(181, 181, 181);
    cursor: pointer;
    transition: 0.4s;
}

.bxl-linkedin:hover, .bxl-github:hover, .bxl-whatsapp:hover{
    color: rgb(206, 206, 206);
    transform: scale(1.15); 
}

.line{
    width: 70px;
    height: 2px; 
    background-color: rgb(181, 181, 181);
}

#about{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1C1C1C;
}

h2 {
    font-size: 55px;
    font-weight: 500;
    text-shadow: 0px 0px 1px black;
}

.container-about{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    max-width: 80%;
    height: 30vw;
}

.container-text{
    height: 300px;
    width: 711px;
    display: flex;
    flex-direction: column;
    text-align: left; 
}

.container-text h3{
    text-align: left;
    padding: 0px 10px 10px 0px;
    font-size: 26px;
    font-weight: 700;
}

.container-text p{
    font-size: 20px;
    color: #dedede;
}

.container-image{
    height: 300px;
    width: 711px;
}

.container-image img{
    width: 230px; 
    height: 300px; 
    border-radius: 50%; 
    border: 2px solid black; 
    box-shadow: 0x 0px 5px black;
}

.cv{
    margin-top: 25px;
}

.download-btn{
    background-color: #7a7a7a; 
    color: black;
    padding: 10px 20px;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.4s;
}

.download-btn:hover{
    background-color: #18F9EB;
    transition: 0.4s;
}

.skills{
    margin-top: 20px;
    background-color: black;
    width: 100vw;
    height: 150px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.skills-icons{
    margin-top: 20px;
    padding: 5px;
    font-size: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
}

.bxl-java{
    font-size: 95px;
}


.bxl-java, .bxl-spring-boot, .bxl-postgresql, .bxl-docker, .bxl-javascript, .bxl-typescript, .bxl-angular{
    color: #7a7a7a;
    transition: 0.6s;
   
}

.bxl-java:hover, .bxl-spring-boot:hover, .bxl-postgresql:hover, .bxl-docker:hover, .bxl-javascript:hover, .bxl-typescript:hover, .bxl-angular:hover{
    transition: 0.6s;
    transform: scale(1.55); 
    color: white;
}


#projetos{
   width: 80%;
}

.container-projetos{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 40vh;
}

.cards-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}

.line-blue{
    width: 230px;
    height: 2px; 
    background-color: #18F9EB;
    margin-top: 8px;
    margin-bottom: 8px;
}

.cards-projetos {
    position: relative;
    width: 352px;
    height: 250px;
    cursor: pointer;
    transition: 0.4s;
}

.cards-projetos:hover {
    transform: scale(1.15); 
    transition: 0.4s;
}

.overlay-projetos{
    position: absolute; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.234);
    z-index: 1; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 500;
}

.cards-projetos img{
    width: 100%;
    height: 100%;
    transition: 0.4s;
    border-bottom: 3px solid #1C1C1C;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.482);
}

.cards-projetos:hover .overlay-projetos {
    opacity: 0; 
    transition: 0.4s;
}

.tech i{
    font-size: 22px;
    padding: 5px;
    color: #7a7a7a;
}

footer{
    width: 100vw;
    background-color: black;
    height: 80px;
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
















